.app {
    margin-top: 50px;
}

.author {
    margin: 30px 0 40px;
}

.author .logo {
    width: 48px;
    height: 48px;
    vertical-align: middle;
    display: inline-block;
    background-image: url(../img/logo.png);
    background-size: contain;
}

.author .info {
    vertical-align: middle;
    display: inline-block;
    margin-left: 8px;
}

.author .info .name {
    margin-right: 3px;
    font-size: 16px;
    vertical-align: middle;
}

.author .info .meta {
    margin-top: 5px;
    font-size: 12px;
    color: #969696;
}